/* RollDice.css */
*{
  background-image: url('./2400-grunge-cement-wall-and-wood-floor-background-and-texture-with-space.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}

.contains-two-container {
  display: flex;
  justify-content: center;
  align-items: center;
  
}
.RollDice {
  text-align: center;
}

.DiceContainer {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
  margin-top: 10%;
  padding: 10px;
}
.fa-2xl {
  font-size: 10em;
}


.DiceContainer.rolling  {
  animation: spin 2s linear infinite; /* Added spin animation */
}

@keyframes spin {
  from {
    transform: rotate(0deg); /* Start with no rotation */
  }
  to {
    transform: rotate(360deg); /* Rotate 360 degrees */
  }
}

.DiceContainer.rolling .dice.spinning {
  animation: none; /* Disable the global spin animation */
} 

button {
  margin-top: 60px;
  font-size: 1rem;
  padding: 10px 20px;
  background-color: #3498db;
  color: #fff;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:disabled {
  background-color: #bdc3c7;
  cursor: not-allowed;
}
